---

---

/*
  main.scss
*/


a {
    font-family: 'Source Sans Pro Regular';
    transition: all 0.1s ease-in-out;
}


/* Glyphicon spacing */
a:hover .glyphicon {
    text-decoration: none;
}


body {
    font-family: 'Source Sans Pro Light';
    font-size: 18px;
}


#date {
    font-family: 'Source Sans Pro Light Italic';
}


@font-face {
    /* Bootstrap Glyphicons */
    font-family: 'Glyphicons Halflings';
    src: url(font-path('glyphicons-halflings-regular.eot'));
    src: url(font-path('glyphicons-halflings-regular.eot') + '?#iefix') format('embedded-opentype'),
    url(font-path('glyphicons-halflings-regular.woff')) format('woff'),
    url(font-path('glyphicons-halflings-regular.ttf')) format('truetype'),
    url(font-path('glyphicons-halflings-regular.svg') + '#glyphicons_halflingsregular') format('svg');
}

@font-face {
    /* Source Sans Pro Light */
    font-family: 'Source Sans Pro Light';
    src: url('../fonts/SourceSansPro-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/SourceSansPro-Light.woff') format('woff'), /* Modern Browsers */
         url('../fonts/SourceSansPro-Light.woff') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    /* Source Sans Pro Light Italic */
    font-family: 'Source Sans Pro Light Italic';
    src: url('../fonts/SourceSansPro-LightIt.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SourceSansPro-LightIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/SourceSansPro-LightIt.otf.woff') format('woff'), /* Modern Browsers */
         url('../fonts/SourceSansPro-LightIt.ttf.woff') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    /* Source Sans Pro Regular */
    font-family: 'Source Sans Pro Regular';
    src: url('../fonts/SourceSansPro-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/SourceSansPro-Regular.otf.woff') format('woff'), /* Modern Browsers */
         url('../fonts/SourceSansPro-Regular.ttf.woff') format('truetype'); /* Safari, Android, iOS */
}


.glyphicon {
    margin: 0px 3px;
}


/* avoids any problem with scrollbars appearing and disappearing */
html {
    overflow-y: scroll;
}


.navbar {
    background-color: #797979;
    background-image: none;

    .navbar-header {
        .navbar-brand {
            max-width: 158px;
            margin-left: 0;
        }
    }

    .nav li {
        a {
            color: #F1F1F1;
            text-shadow: 0 1px 0 black;
            &:hover,
            &:focus {
                color: #22AF60;
            }
        }
    }
}

.navbar-default .navbar-toggle {
    &:hover,
    &:focus {
        background-color: #696969;
    }
    .icon-bar {
        background-color: #dddddd;
    }
}


.btn-primary {
    margin-bottom: 10px;
    border-radius: 0;
}


.media {
    margin-top: 60px;
    margin-bottom: 60px;
}


/* footer */

footer {
  padding: 60px 10px 20px 10px;
  background-color: #797979;
  color: #F1F1F1;

    .row {
        margin-bottom: 25px;
    }

  .nav-list li {
    a {
      text-shadow: 0 1px 0 black;
      color: #F1F1F1;
    }
    a:hover,
    a:focus {
      background-color: #999999;
    }
  }

    // nav-header shouldn't look like a link
    #contact-travis {
        color: #BBB;
        text-decoration: none;
    }

  .nav-list .nav-header {
    color: #bbbbbb;
    text-shadow: 0 1px 0 black;
  }
}
