<div class="feedback-form">
    <a class="btn btn-primary btn-sm" href="#wufoo-z8255a81ki4ng7" data-toggle="collapse" role="button">Feedback</a>
    <div id="wufoo-z8255a81ki4ng7" class="collapse">
    Fill out my <a href="https://travishohl.wufoo.com/forms/z8255a81ki4ng7">online form</a>.
    </div>
</div>

<script type="text/javascript">var z8255a81ki4ng7;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'travishohl',
'formHash':'z8255a81ki4ng7',
'autoResize':true,
    'height':'377',
    'async':true,
        'host':'wufoo.com',
        'header':'show',
        'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z8255a81ki4ng7 = new WufooForm();z8255a81ki4ng7.initialize(options);z8255a81ki4ng7.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
