<footer>
    <div class="container">

        <div class="row hidden-print">
            <div class="col-xs-12 col-sm-5 col-sm-off1et-0 col-md-4 col-md-offset-0 col-lg-3 col-lg-offset-0">
                <ul class="nav nav-list">
                    <li id="contact-travis" class="nav-header">Contact Travis</li>
                    <li>
                        <a href="mailto:travis@travishohl.com">
                            <span class="glyphicon glyphicon-envelope"></span>
                            <span>travis@travishohl.com</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/THohl" target="_blank">
                            <img style="height: 18px; padding: 0px 3px;" alt="Twitter Logo" src="images/twitter-logo.png">
                            <span>thohl</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://stackoverflow.com/users/3367343/thohl" target="_blank">
                            <img style="height: 28px;" alt="Stack Overflow Logo" src="images/stackoverflow-logo.png">
                            <span>thohl</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-1 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-3">
                <a class="pull-right" href="/"><img alt="travishohl.com" src="images/logo-web-large.png"></a>
            </div>
        </div>

        <div class="row">
            <div class="text-center">
                <small>&copy; 2012-2015 Travis Hohl</small>
            </div>
        </div>

    </div>
</footer>
