/*
  main.scss
*/

@font-face {
    /* Bootstrap Glyphicons */
    font-family: 'Glyphicons Halflings';
    src: url(font-path('glyphicons-halflings-regular.eot'));
    src: url(font-path('glyphicons-halflings-regular.eot') + '?#iefix') format('embedded-opentype'),
    url(font-path('glyphicons-halflings-regular.woff')) format('woff'),
    url(font-path('glyphicons-halflings-regular.ttf')) format('truetype'),
    url(font-path('glyphicons-halflings-regular.svg') + '#glyphicons_halflingsregular') format('svg');
}


a {

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
            transition: all 0.3s ease;
}


/* Glyphicon spacing */
a:hover .glyphicon {

    text-decoration: none;
}


body {

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}


.btn-primary {

    border-radius: 0;
    margin-bottom: 10px;

    &:first-of-type {

        background-color: #20aa50;
        border-color: #20aa50;

        &:focus,
        &:hover {

            background-color: #108840;
            border-color: #108840;
        }
    }
}


code {

    background-color: #dedede;
    color: #333333;
}


#date {

    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: 300;
}


.feedback-form {
    max-height: 90%;
    position: fixed;
        bottom: 0;
        right: 0;
    text-align: right;

    .btn {
        font-weight: bold;
        margin-bottom: 0;
        margin-left: 15px;
        margin-right: 15px;
    }

    #wufoo-z8255a81ki4ng7 {
        background-color: #ffffff;
        border: 1px solid #555555;
        padding: 15px;
    }
}


footer {

    padding-bottom: 20px;
    padding-top: 60px;
    background-color: #555555;
    color: #f1f1f1;

    .nav-list li {

        a {
            color: #f1f1f1;

            &:hover,
            &:focus {

                background-color: #999999;
            }
        }
    }

    // nav-header shouldn't look like a link
    #contact-travis {

        color: #BBB;
        text-decoration: none;
    }

    .nav-list .nav-header {
        color: #bbbbbb;
        text-shadow: 0 1px 0 black;
    }
}


.glyphicon {

    margin: 0px 3px;
}


/* avoids any problem with scrollbars appearing and disappearing */
html {

    overflow-y: scroll;
}


.jumbotron {

    margin-bottom: 0;
}


.media {

    margin-top: 60px;
    margin-bottom: 60px;
}


.navbar {

    background-color: #555555;
    background-image: none;
    border: none;
    margin-bottom: 0;

    .nav li {

        a {

            color: #f1f1f1;

            &:hover,
            &:focus {

                color: #22AF60;
            }
        }
    }

    .navbar-header {

        .navbar-brand {

            max-width: 158px;
            margin-left: 0;
        }
    }

    .navbar-right {

        margin-right: 0;
    }
}


.navbar-default .navbar-toggle {

    &:hover,
    &:focus {

        background-color: #696969;
    }
    .icon-bar {

        background-color: #dddddd;
    }
}


.panel {

    border-color: #555555;
    border-radius: 0;
    margin-bottom: 45px;
    margin-top: 45px;

    .panel-heading {

        background-color: #555555;
        border-color: #555555;
        border-radius: 0;
        color: #ffffff;
    }
}


.portfolio {

    &__project {

        margin-bottom: 40px;
        margin-top: 25px;
    }
    &__thumbnail {

        border: solid 2px #dddddd;
        -webkit-transition: all 0.3s ease;
           -moz-transition: all 0.3s ease;
                transition: all 0.3s ease;
        width: 100%;

        &:hover,
        &:focus {

            border-color: #555555;
        }
    }
}
